{% extends "./base.html" %}
{% block content %}

<br>
<form action="/query" method="get"> 

    <div class="container text-center">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <input class="form-control" type="text" placeholder="🔍" name="q"> 
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</form>
{% block result %}
{% endblock %}
{% endblock %}
